@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

.canvasContainer {
  --color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Replace 'initial' with a default color if needed */
  --background: rgb(
    60,
    60,
    60
  ); /* Replace 'initial' with a default background if needed */

  height: 100%;
  background-color: var(--background);
  background-size: 50px 50px;
  display: flex;

  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
}

.canvasContainer > * {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
